a {
    text-decoration: none;
}

#wings {
    width: 100%;
    /* min-height: 100vh; */
    padding: 80px 0;
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wings p,
#wings span {
    margin: 0;
    padding: 0;
    line-height: normal;
}

#wings p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.wings__header {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    /*font-weight: 100;*/
}

.wings__header h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.wings__header span {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 100px;
}

.wings__card--area {
    width: 100%;
    height: 100%;
    /* padding: 0 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wings__card {
    position: relative;
    width: 300px;
    height: 300px;
    background: #eee;
    box-shadow: 3px 3px 16px #69696969;
    margin: 40px 20px;
    padding: 10px;
    transition: all 400ms;
    border-radius: 16px;
    /* border: 1px solid #fff; */
    overflow: hidden;
    /* margin-bottom: 40px; */
}

.wings__card--body {
    background: #fff;
    position: absolute;
    padding: 10px;
    border-radius: 16px;
    /* width: calc(100% - 32px);
    height: calc(100% - 32px); */
    top: -400px;
    left: 0px;
    transition: all 500ms;
    /* padding: 16px; */
}

.wings__card--body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wings__card--head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.wings__card--head--logo {
    width: 200px;
    filter: drop-shadow(0 0 1px #69696950);
}

.wings__card--body h4 {
    font-size: 18px;
    font-weight: 600;
}

.wings__card--body p {
    line-height: 1.2em;
    font-size: 16px;
}

.wings__card--body--desc {
    /* padding: 5px; */
    line-height: 1.2em;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.wings__card--head--name {
    /* padding: 5px; */
    margin-bottom: 24px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    transition: all 400ms;
}

.wings__card--head--name::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #aaa;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 300ms;
}


 .wings__card--curtain {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    transform-origin: 50% 0;
    transition: all 500ms;
    transform: scaleY(0);
} 

.wings--east {
    background: #f00;
}

.wings--interno {
    background: #32cd32;
}

.wings--satt {
    background: #FEFD45;
}

.wings__card--body--icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wings__social--icons {
    /* padding: 7px; */
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #eee;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.wings__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 16px #69696990;
}

.wings__card:hover .wings__card--head {
    transform: translateY(400px);
}

.wings__card:hover .wings__card--body {
    top: 0;
    transition-delay: 300ms;
}

.wings__card:hover .wings__card--head--name::after {
    transition-delay: 700ms;
    transform: scaleX(1);
}

.btn-east {
    text-align: center;
    border-color: #f00 !important;
}

.btn-east:hover {
    background: #f00;
    color: #fff;
}

.btn-interno {
    text-align: center;
    border-color: #32cd32 !important;
}

.btn-interno:hover {
    background: #32cd32;
    color: #fff;
}

.btn-satt {
    text-align: center;
    border-color: #FEFD45 !important;
}

.btn-satt:hover {
    background: #FEFD45;
    color: #343a40;
}