*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

.testim {
    width: 98%;
    padding: 5px;
    margin: 0 auto;
}

.testim .wrap {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1030px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: rgb(230, 216, 216);
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .arrow:hover {
    color: #ec830a;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 32px;
    left: 0;
    padding: 0;
    display: block;
    z-index: 20;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 7px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #010c1e;
    border-color: #010c1e;
}

.testim .dots .dot.active {
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    min-height: 400px;
    background: inherit;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0 20px;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}

.testim .cont>div.active {
    position: relative;
    opacity: 1;
}

.testim .cont div .img img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #010c1e;
    font-size: 1em;
    font-weight: 600;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 14px;
    color: #000;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    animation: testim-content-out .5s ease-in-out forwards;
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        box-shadow: 0px 0px 10px 5px rgb(216, 213, 213);
    }
    70% {
        box-shadow: 0px 0px 10px 5px #010c1e;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #010c1e;
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 700px) {
    .testim {
        width: 98%;
        padding: 5px;
    }
}

@media all and (max-width: 500px) {
    .testim {
        width: 98%;
        padding: 5px;
    }
    .testim .arrow {
        font-size: 1.5rem;
    }
    .testim .cont div p {
        line-height: 25px;
    }
}